
.clr1 {
    width: 15px;
    height: 15px;
    background-color: blue;
    border-radius: 50%;
  }
.clr2 {
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
  }
.clr3 {
    width: 15px;
    height: 15px;
    background-color: orange;
    border-radius: 50%;
  }
.clr4 {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
  }

  .alert {
    position: absolute;
    width: 100%;
    z-index: 999;
  }
